body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#container {
  margin-top: 20px;
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #f0f8ff;
}

#container {
  display: grid;
  justify-content: center;
  width: 960px;
  height: 960px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: 1px;
}

.grid-item {
  border: 1px solid #ddd;
  background-color: white;
}
