* {
  box-sizing: border-box;
  /* outline: 2px solid red; */
  font-family: Georgia, "Times New Roman", Times, serif;
}

.heading {
  text-align: center;
  margin-top: 8rem;
}

.description {
  text-align: center;
  font-size: medium;
}
